body {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}
.header {
  height: 10vh;
  width: 100%;
  border: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
#delete-button:hover {
  color: white !important;
}
#disabled-button {
  z-index: -1;
  opacity: 0.3;
}
